numpy
albumentations
torch
torchvision
torchaudio
timm
lightning
imgaug
scikit-learn
opencv-python
opencv-python-headless
pandas
tqdm
pqdm
scikit-image
requests
matplotlib
ipython
hydra-core
# For Stable Diffusion
huggingface-hub
transformers
diffusers
accelerate
--extra-index-url https://download.pytorch.org/whl/cu124
